body a {
	text-decoration: none;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

/*--/contact--*/
.contact_grid_right{
	padding-top:4em;
}
.address-grid i {
    font-size: 1.7em;
    color: #01cd74;
}
.contact_grid_right {
    width: 100%;
}
p.sub {
    text-transform: uppercase;
    letter-spacing: 5px;
}
.contact_left_grid label {
    color: #747779;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.9em;
}
.contact_grid_right input[type="text"],
.contact_grid_right input[type="email"],
.contact_grid_right textarea {
    outline: none;
    padding: 15px 15px;
    font-size: 14px;
    color: #777;
    background: #f7f7f7;
    width: 100%;
    letter-spacing: 1px;
	border: 1px solid #ebeeef;
}
.contact_grid_right textarea {
    min-height: 150px;
    margin: 1em 0em;
    resize: none;
}

.contact_grid_right input[type="submit"] {
	outline: none;
    padding: 20px 0;
    font-size: 14px;
    color: #fff;
    background: #0e0f10;
    border: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
	font-weight:600;
	cursor: pointer;
}

.contact_grid_right input[type="submit"]:hover {
    background-color: #01cd74;
}

.contact-left h4 {
    color: #444;
    font-size: 1em;
    margin-bottom: .5em;
    letter-spacing: 1px;
    font-weight: 700;
}

.contact-left p {
    font-size: 1em;
    letter-spacing: 1px;
}

.contact-text a {
    color: #888;
}

.contact-text a:hover {
    color: #fb383b;
}

.contact_grid_right h6,
.contact-left h6 {
    font-size: 1.2em;
    color: #292b2c;
    margin-bottom: 1.5em;
    letter-spacing: 1px;
    font-weight: 400;
}
.contact-map {
    width: 100%;
}

.contact-map iframe {
    width: 100%;
    height:350px;
}
.ad-inf-sec {
	padding:4em 0;
}
.address-right a {
    color: #083940;
}
.address-right p {
    color: #2a8490;
}
/*-- //contact--*/

/*--responsive--*/

@media(max-width:1080px) {
	.input {
		max-width: 309px;
		width: calc(100% - 0em);
		vertical-align: top;
		float: left;
	}
}

@media(max-width:991px) {
	.contact_grids_info {
		padding: 0;
		margin-top: 1em;
	}
	.input {
		max-width: 100%;
	}
	.map iframe {
		width: 100%;
		min-height: 303px;
    }
    .address-grid:nth-child(2) {
        margin: 1.5em 0;
    }
}

@media(max-width:640px) {
	.mail_form input[type="submit"] {
		width: 40%;
	}
	.mail_form textarea {
		padding: .9em 0.9em;
		margin: 1.3em 0;
		min-height: 140px;
    }
    .contact-map iframe {
        width: 100%;
        height: 250px;
    }
}

@media(max-width:600px) {
	.map iframe {
		width: 100%;
		min-height: 250px;
    }
    .contact_grid_right {
        padding-top:3em;
    }
}

@media(max-width:440px) {
    .contact_grid_right {
        padding-top:2em;
    }
}

/*--//responsive--*/