<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the links_init() hook (in hooks/links.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="links-facebook-<%%VALUE(id)%%>" class="links-facebook"><%%VALUE(facebook)%%></td>
		<td id="links-twitter-<%%VALUE(id)%%>" class="links-twitter"><%%VALUE(twitter)%%></td>
		<td id="links-googleplus-<%%VALUE(id)%%>" class="links-googleplus"><%%VALUE(googleplus)%%></td>
		<td id="links-pinterest-<%%VALUE(id)%%>" class="links-pinterest"><%%VALUE(pinterest)%%></td>
		<td id="links-dribble-<%%VALUE(id)%%>" class="links-dribble"><%%VALUE(dribble)%%></td>
		<td id="links-comments_script-<%%VALUE(id)%%>" class="links-comments_script"><%%VALUE(comments_script)%%></td>
		<td id="links-sharing_script-<%%VALUE(id)%%>" class="links-sharing_script"><%%VALUE(sharing_script)%%></td>
		<td id="links-javascript-<%%VALUE(id)%%>" class="links-javascript"><%%VALUE(javascript)%%></td>
