<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the titles_init() hook (in hooks/titles.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="titles-website_name-<%%VALUE(id)%%>" class="titles-website_name"><%%VALUE(website_name)%%></td>
		<td id="titles-tagline-<%%VALUE(id)%%>" class="titles-tagline"><%%VALUE(tagline)%%></td>
		<td id="titles-icon-<%%VALUE(id)%%>" class="titles-icon"><img src="thumbnail.php?i=<%%VALUE(icon)%%>&t=titles&f=icon&v=tv" class="img-thumbnail"></td>
		<td id="titles-keywords-<%%VALUE(id)%%>" class="titles-keywords"><%%VALUE(keywords)%%></td>
		<td id="titles-short_description-<%%VALUE(id)%%>" class="titles-short_description"><%%VALUE(short_description)%%></td>
		<td id="titles-detailed_description-<%%VALUE(id)%%>" class="titles-detailed_description"><%%VALUE(detailed_description)%%></td>
		<td id="titles-bannertext1-<%%VALUE(id)%%>" class="titles-bannertext1"><%%VALUE(bannertext1)%%></td>
		<td id="titles-bannertext2-<%%VALUE(id)%%>" class="titles-bannertext2"><%%VALUE(bannertext2)%%></td>
		<td id="titles-bannertext3-<%%VALUE(id)%%>" class="titles-bannertext3"><%%VALUE(bannertext3)%%></td>
		<td id="titles-bannertext4-<%%VALUE(id)%%>" class="titles-bannertext4"><%%VALUE(bannertext4)%%></td>
		<td id="titles-address-<%%VALUE(id)%%>" class="titles-address"><%%VALUE(address)%%></td>
		<td id="titles-email-<%%VALUE(id)%%>" class="titles-email"><a href="mailto:<%%VALUE(email)%%>" title="<%%VALUE(email)%%>" class="btn btn-default"><i class="glyphicon glyphicon-envelope text-info"></i></a></td>
		<td id="titles-phone-<%%VALUE(id)%%>" class="titles-phone"><%%VALUE(phone)%%></td>
		<td id="titles-googlemap-<%%VALUE(id)%%>" class="titles-googlemap"><img src="<%%GOOGLEMAPTHUMB(googlemap)%%>" style="max-width: 50px; max-height: 50px; " ></td>
